header {
    height: 100px;
    background-color: #2596be;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

header img {
    height: 50px;
    position: relative;
    top: 50%;
}

#titolo h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}

#titolo p {
    color: gray;
    margin: 0;
}

#autore {
    text-decoration: none;
    color: #2596be;
}

#container_img p{
    font-size: 12px;
}


#table_head {
    color: white;
    background-color: #1e81b0;
}

#align_left {
    text-align: left;
}

.blue_background {
    background-color: #abdbe3;
}

.anteprima_articolo {
    color: white;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    padding: 10px;
}


#anteprima1 {
    background: url(../img/monitor.jpg);
}

#anteprima2 {
    background: url(../img/graph.jpg);
}