header {
    height: 100px;
    background-color: #2596be;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

header img {
    height: 50px;
}

#titolo h1 {
    font-size: 40px;
    margin-bottom: 0;
}

#titolo p {
    color: gray;
    margin: 0;
}

#autore {
    text-decoration: none;
    color: #2596be;
}

#container_img p{
    font-size: 12px;
}